In [59]:
# Importing Libraries
import pandas as pd
import tabula
import numpy as np

In [60]:
df = pd.read_csv(r'C:\Users\folar\Desktop\Notebook\CSV_County_Reports\tabula-county-reports-20200501.csv')
df

,"Race, ethnicity",Cases,Unnamed: 2,Hospitalizations,Unnamed: 4,Deaths,Unnamed: 6
0,White,110,42%,20 43%,2,NaN,40%
1,Hispanic,8,3%,0 0%,0,NaN,0%
2,Non-Hispanic,96,37%,19 41%,2,NaN,40%
3,Unknown ethnicity,6,2%,1 2%,0,NaN,0%
4,Black,84,32%,20 43%,3,NaN,60%
...,...,...,...,...,...,...,...
1200,Unknown race,0,0%,0 0%,0,NaN,NaN
1201,Hispanic,0,0%,0 0%,0,NaN,NaN
1202,Non-Hispanic,0,0%,0 0%,0,NaN,NaN
1203,Unknown ethnicity,0,0%,0 0%,0,NaN,NaN
1204,Total,12,NaN,1,0,NaN,NaN

In [61]:
df[['Hospitalizations','Hospitalizations%']] = df.Hospitalizations.str.split(" ",expand=True)
df

,"Race, ethnicity",Cases,Unnamed: 2,Hospitalizations,Unnamed: 4,Deaths,Unnamed: 6,Hospitalizations%
0,White,110,42%,20,2,NaN,40%,43%
1,Hispanic,8,3%,0,0,NaN,0%,0%
2,Non-Hispanic,96,37%,19,2,NaN,40%,41%
3,Unknown ethnicity,6,2%,1,0,NaN,0%,2%
4,Black,84,32%,20,3,NaN,60%,43%
...,...,...,...,...,...,...,...,...
1200,Unknown race,0,0%,0,0,NaN,NaN,0%
1201,Hispanic,0,0%,0,0,NaN,NaN,0%
1202,Non-Hispanic,0,0%,0,0,NaN,NaN,0%
1203,Unknown ethnicity,0,0%,0,0,NaN,NaN,0%
1204,Total,12,NaN,1,0,NaN,NaN,None

In [62]:
df = df[['Race, ethnicity','Cases', 'Unnamed: 2', 'Hospitalizations','Hospitalizations%','Unnamed: 4', 'Deaths', 'Unnamed: 6']]
df

,"Race, ethnicity",Cases,Unnamed: 2,Hospitalizations,Hospitalizations%,Unnamed: 4,Deaths,Unnamed: 6
0,White,110,42%,20,43%,2,NaN,40%
1,Hispanic,8,3%,0,0%,0,NaN,0%
2,Non-Hispanic,96,37%,19,41%,2,NaN,40%
3,Unknown ethnicity,6,2%,1,2%,0,NaN,0%
4,Black,84,32%,20,43%,3,NaN,60%
...,...,...,...,...,...,...,...,...
1200,Unknown race,0,0%,0,0%,0,NaN,NaN
1201,Hispanic,0,0%,0,0%,0,NaN,NaN
1202,Non-Hispanic,0,0%,0,0%,0,NaN,NaN
1203,Unknown ethnicity,0,0%,0,0%,0,NaN,NaN
1204,Total,12,NaN,1,None,0,NaN,NaN

In [63]:
df.columns = ['Race, ethnicity','Cases', 'Cases%', 'Hospitalizations','Hospitalizations%', 'Deaths', 'Empty', 'Deaths%']
df

,"Race, ethnicity",Cases,Cases%,Hospitalizations,Hospitalizations%,Deaths,Empty,Deaths%
0,White,110,42%,20,43%,2,NaN,40%
1,Hispanic,8,3%,0,0%,0,NaN,0%
2,Non-Hispanic,96,37%,19,41%,2,NaN,40%
3,Unknown ethnicity,6,2%,1,2%,0,NaN,0%
4,Black,84,32%,20,43%,3,NaN,60%
...,...,...,...,...,...,...,...,...
1200,Unknown race,0,0%,0,0%,0,NaN,NaN
1201,Hispanic,0,0%,0,0%,0,NaN,NaN
1202,Non-Hispanic,0,0%,0,0%,0,NaN,NaN
1203,Unknown ethnicity,0,0%,0,0%,0,NaN,NaN
1204,Total,12,NaN,1,None,0,NaN,NaN

In [64]:
df[df.columns.drop('Empty')]

,"Race, ethnicity",Cases,Cases%,Hospitalizations,Hospitalizations%,Deaths,Deaths%
0,White,110,42%,20,43%,2,40%
1,Hispanic,8,3%,0,0%,0,0%
2,Non-Hispanic,96,37%,19,41%,2,40%
3,Unknown ethnicity,6,2%,1,2%,0,0%
4,Black,84,32%,20,43%,3,60%
...,...,...,...,...,...,...,...
1200,Unknown race,0,0%,0,0%,0,NaN
1201,Hispanic,0,0%,0,0%,0,NaN
1202,Non-Hispanic,0,0%,0,0%,0,NaN
1203,Unknown ethnicity,0,0%,0,0%,0,NaN
1204,Total,12,NaN,1,None,0,NaN

In [52]:
#df.to_csv (r'C:\Users\Folar\Desktop\Notebook\export_dataframe1.csv',  index = False, header=True)

In [73]:
#this section just creates column data and row labels

# Race/Ethnicity column
RaceEth = ['Total White',
           'White Hispanic',
           'White Non-Hispanic',
           'White Unknown',
           'Total Black',
           'Black Hispanic',
           'Black Non-Hispanic',
           'Black Unknown',
           'Total Other',
           'Other Hispanic',
           'Other Non-Hispanic',
           'Other Unknown',
           'Total Unknown',
           'Unknown Hispanic',
           'Unknown Non-Hispanic',
           'Unknown Unknown',
           'Total All'
          ]

# County names for forming column names
countyNames = ['Alachua',
'Baker',
'Bay',
'Bradford',
'Brevard',
'Broward',
'Calhoun',
'Charlotte',
'Citrus',
'Clay',
'Collier',
'Columbia',
'DeSoto',
'Dixie',
'Duval',
'Escambia',
'Flagler',
'Franklin',
'Gadsden',
'Gilchrist',
'Glades',
'Gulf',
'Hamilton',
'Hardee',
'Hendry',
'Hernando',
'Highlands',
'Hillsborough',
'Holmes',
'Indian River',
'Jackson',
'Jefferson',
'Lafayette',
'Lake',
'Lee',
'Leon',
'Levy',
'Liberty',
'Madison',
'Manatee',
'Marion',
'Martin',
'Miami-Dade',
'Monroe',
'Nassau',
'Okaloosa',
'Okeechobee',
'Orange',
'Osceola',
'Palm Beach',
'Pasco',
'Pinellas',
'Polk',
'Putnam',
'Santa Rosa',
'Sarasota',
'Seminole',
'St. Johns',
'St. Lucie',
'Sumter',
'Suwannee',
'Taylor',
'Union',
'Volusia',
'Wakulla',
'Walton',
'Washington']

allCounties = []

for i in countyNames:
    name = i + " Cases"
    allCounties.append(name)
    name = i + " Hospitalizations"
    allCounties.append(name)
    name = i + " Deaths"
    allCounties.append(name)

#Creates empty data frame using these as columns
final = pd.DataFrame(columns=allCounties, index=RaceEth)

In [74]:
CountyData = df

In [75]:
#Reads .csv
#CountyData = pd.read_csv(r'C:\Users\folar\Desktop\Notebook\export_dataframe1.csv',delimiter=',',header=0, encoding='ascii',engine='python')

#forces data to numeric format and strips commas for large values. Does nothing special for smaller values
CountyData.replace(',','', regex=True, inplace=True)
CountyData['Cases'] = CountyData['Cases'].apply(pd.to_numeric,errors='coerce')
CountyData['Hospitalizations'] = CountyData['Hospitalizations'].apply(pd.to_numeric,errors='coerce')
CountyData['Deaths'] = CountyData['Deaths'].apply(pd.to_numeric,errors='coerce')

#creates a new dataframe with just Cases, Hospitals, Deaths
County = pd.DataFrame (columns = ['Cases','Hospitalizations','Deaths'])
County['Cases'] = CountyData['Cases']
County['Hospitalizations'] = CountyData['Hospitalizations']
County['Deaths'] = CountyData['Deaths']
#strips decimal displays if data decides it wan
pd.options.display.float_format = '{:,.0f}'.format

In [76]:
#function for carving up main DF into mini DF
def create_df1( row, col ):
    df1 = County.iloc[row:row+17,col].copy()
    df1.index = RaceEth
    return df1

#carves up main DF into mini DF, then collates them back into the main DF
col = 0
row = 0
for many in range(67): #YES I REALIZE THIS IS BAD don't @ me
    for i in range(0,18):
        for j in range(3):
            final.iloc[0:17,j+row] = create_df1(col, j)
    col += 18        
    row += 3
    
#the new, formatted df spanning many many columns is "final"

In [77]:
final

,Alachua Cases,Alachua Hospitalizations,Alachua Deaths,Baker Cases,Baker Hospitalizations,Baker Deaths,Bay Cases,Bay Hospitalizations,Bay Deaths,Bradford Cases,...,Volusia Deaths,Wakulla Cases,Wakulla Hospitalizations,Wakulla Deaths,Walton Cases,Walton Hospitalizations,Walton Deaths,Washington Cases,Washington Hospitalizations,Washington Deaths
Total White,110,20,2,17,7,3,55,7,3,43,...,18,10,2,1,26,5,0,12,1,0
White Hispanic,8,0,0,0,0,0,12,1,0,0,...,1,0,0,0,1,0,0,0,0,0
White Non-Hispanic,96,19,2,17,7,3,41,6,3,43,...,17,10,2,1,25,5,0,12,1,0
White Unknown,6,1,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Total Black,84,20,3,3,0,0,8,2,0,4,...,3,11,2,0,3,1,0,0,0,0
Black Hispanic,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Black Non-Hispanic,82,20,3,2,0,0,8,2,0,4,...,3,11,2,0,3,1,0,0,0,0
Black Unknown,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Total Other,20,0,0,1,1,0,4,0,0,0,...,0,1,1,0,0,0,0,0,0,0
Other Hispanic,7,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Other Non-Hispanic,11,0,0,1,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
Other Unknown,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Total Unknown,48,6,0,1,0,0,4,0,0,0,...,0,1,0,0,1,0,0,0,0,0
Unknown Hispanic,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unknown Non-Hispanic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unknown Unknown,46,6,0,1,0,0,4,0,0,0,...,0,1,0,0,1,0,0,0,0,0
Total All,262,46,5,22,8,3,71,9,3,47,...,21,23,5,1,30,6,0,12,1,0

In [78]:
final.to_csv (r'C:\Users\Folar\Desktop\Notebook\Extracted\county_reports_20200501.csv',  index = True, header=True)